body {
	max-width: 720px;
	padding: 100px 10px;
    margin: auto;
    font-family: sans;
}

pre {
	overflow: auto;
	padding: 30px;
	background-color: black;
	color: white;
	border-radius: 3px;
}

blockquote {
	box-sizing: border-box;
	color: gray;
	border-left: 1px solid grey;
	padding: 1px 20px;
	margin-left: 0;
}

a {
	color: dimgray;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px dotted dimgray;
}

a:hover {
	color: gray;
	border-bottom: 1px dotted gray;
}

p>code {
	background-color: black;
	color: white;
	padding: 2px;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}
