body {
	max-width: 720px;
	padding: 100px 10px;
    margin: auto;
    font-family: sans, Arial;
}

pre {
	overflow: auto;
	padding: 30px;
	background-color: black;
	color: white;
	border-radius: 5px;
}

blockquote {
	box-sizing: border-box;
	color: gray;
	border-left: 1px solid grey;
	padding: 1px 20px;
	margin-left: 0;
}

a {
	color: dimgray;
	text-decoration: none;
	font-style: italic;
	border-bottom: 1px dotted dimgray;
}

a:hover {
	color: gray;
	border-bottom: 1px dotted gray;
}

p>code {
	background-color: black;
	color: white;
	padding: 0.3em 0.5em;
	border-radius: 3px;
	white-space: nowrap;
}

ul {
	list-style-type: disc;
	border-left: 1px solid gray;
}

ol {
	list-style-type: decimal;
	border-left: 1px solid gray;
}

img {
	max-width: 720px;
	border-radius: 5px;
	box-shadow: 0 2px 5px #000000;
}

hr {
	margin: 1em 0;
	border: 0;
	border-top: 1px dashed gray;
}
